body{
  background-color: #ff6f69;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  color: #fff0f0;
  font-size: 60px;
  margin-bottom: 5px;
  margin-left: 40%;
}

.sub-heading {
  background-color: #ffeead;
  border: none;
  width: 300px;
  border-radius: 15px;
  margin-left: 38%;
  text-align: center;
  font-family: 'Shadows Into Light';
  font-size: 20px;
  color: #99423f
}

.at-glance {
  background-color: #ffeead;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 400px;
  border-radius: 15px;
  font-size: 14px;
  color: grey;
  padding: 7px 7px 7px 7px;
  margin-left: 15px;

}

#bio {
  font-size: 25px;
  float: left;
  margin-left: 40px;
}

#education {
  float: left;
  font-size: 14px;
}


.top-ten {
  background-color: #ffcc5c;
  border: none;
  margin: 20px 2% 20px 2%;
  width: 25%;
  padding-left: 10px;
  border-radius: 15px;
  color: #ffe2e1;
  float: left;
}

.newdiv {
  float: none;
}

#summary {
  padding-left: 20px;
  padding-bottom: 1px;
  font-size: 36px;
  color: #99423f;
  background-color: #ffeead;
  border: none;
  margin-top: 15px;
  margin-bottom: 3px;
  width: 400px;
  border-radius: 15px;
}

.content {
  padding-top: 10px;
}
