div{
  width: 33%;
  float: left;
}
body {
  background-color: #f3e3e2;
}

h1 {
  font-family: "Palatino Linotype", sans-serif;
  color: #280731;
  font-size: 35px;
  text-align: center;
}

p {
  color: #a984b5;
  font-family: "Book Antiqua";
}

.more-content{
  color: #5d395f;
  text-align: left;
  font-family: monospace;
}

.header {
  font-family: cursive;
  color: #70743a;
}

#something-else {
  border: 5px dotted #d0d0d0;
}

#footer {
  position: absolute;
}
